.layoutNavbarContainer {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/backdrop-filter */
    backdrop-filter: saturate(200%) blur(5px);
    -webkit-backdrop-filter: saturate(200%) blur(5px);
    background-color: rgba(255, 0, 170, 0.9);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9998;
    height: var(--header-navbar-height);
}

.layoutNavbar {
    font-size: var(--main-fontSize-big5);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-optical-sizing: auto;
    display: flex;
    align-items: center;
    grid-gap: var(--main-spacing);
    gap: var(--main-spacing);
    margin: 0 auto;
    max-width: var(--main-maxWidth);
    height: var(--header-navbar-height);
}

/* max-width: --main-maxWidth */
@media all and (max-width: 70rem) {

    .layoutNavbarContainer {
        height: 85vh;
        top: calc(-85vh + var(--header-navbar-height));
        padding-top: var(--main-spacing);
    }


    .layoutNavbar {
        flex-flow: column;
    }

    @keyframes moveDown {
        from {
            top: calc(-85vh + var(--header-navbar-height));
        }

        to {
            top: 0;
        }
    }

    .openNavbar {
        animation: moveDown 1s ease forwards;
    }

    @keyframes moveUp {
        from {
            top: 0;
        }

        to {
            top: calc(-85vh + var(--header-navbar-height));
        }
    }

    .closeNavbar {
        animation: moveUp 1s ease forwards;
    }

}

.layoutNavbar a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    line-height: 1.3;
    cursor: url(/assets/cursors/secondary_mouse_pointer.cur), pointer;
    padding-bottom: 3px;
    /* default off */
    transition: none;
}

/* not on mobile */
@media (hover: hover) {
    .layoutNavbar a {
        background-image: linear-gradient(#ffffff 0%, #ffffff 100%);
        background-size: 0% 2px;
        background-position-y: 100%;
        background-position-x: 0%;
        background-repeat: no-repeat;
        transition: background-size 0.2s ease-in-out;
    }

    .layoutNavbar a:hover {
        background-size: 100% 2px;
    }
}

/* only on higher contrast mode */
@media (prefers-contrast: more) {
    .layoutNavbar a:focus {
        outline-style: dashed;
        outline-offset: 5px;
        outline-color: white;
        outline-width: 1px;
    }
}

.layoutNavbar a.active {
    background-image: linear-gradient(#ffffff 0%, #ffffff 100%);
    background-size: 100% 2px;
    background-position-y: 0%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: none;
    cursor: url(/assets/cursors/secondary_mouse_default.cur), default;
}

/* source for the hamburger css styling & animation: https://github.com/jonsuh/hamburgers */
.hamburger {
    outline: none;
    padding: 15px 15px;
    display: none;
    cursor: var(--cursor-pointer);
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

@media (prefers-contrast: more) {
    .hamburger:focus {
        outline-style: dashed;
        outline-offset: -4px;
        outline-color: white;
        outline-width: 2px;
    }
}

/* max-width: --main-maxWidth */
@media all and (max-width: 70rem) {
    .hamburger {
        display: block;
    }
}

.hamburger.active .hamburgerInner,
.hamburger.active .hamburgerInner::before,
.hamburger.active .hamburgerInner::after {
    background-color: var(--main-text-color);
}

.hamburgerBox {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburgerInner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburgerInner,
.hamburgerInner::before,
.hamburgerInner::after {
    width: 40px;
    height: 4px;
    background-color: var(--main-text-color);
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburgerInner::before,
.hamburgerInner::after {
    content: "";
    display: block;
}

.hamburgerInner::before {
    top: -10px;
}

.hamburgerInner::after {
    bottom: -10px;
}

.emphatic {
    overflow: hidden;
}

.emphatic .hamburgerInner {
    transition: background-color 0.125s 0.175s ease-in;
}

.emphatic .hamburgerInner::before {
    left: 0;
    transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}

.emphatic .hamburgerInner::after {
    top: 10px;
    right: 0;
    transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}

.emphatic.active .hamburgerInner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent !important;
}

.emphatic.active .hamburgerInner::before {
    left: -80px;
    top: -80px;
    transform: translate3d(80px, 80px, 0) rotate(45deg);
    transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.emphatic.active .hamburgerInner::after {
    right: -80px;
    top: -80px;
    transform: translate3d(-80px, 80px, 0) rotate(-45deg);
    transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}