# in the vscode user settings, make sure you set "editor.detectIndentation": false
# by default detectIndentation is true and it will ignore your editorconfig settings

# root: means use this configuration file instead of .editorconfig files in parent directories
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = false
trim_trailing_whitespace = true

[*.{md,mdx}]
insert_final_newline = true
trim_trailing_whitespace = false