.blinkingCarret {
    display: inline-flex;
    align-items: center;
    gap: 2px;
}

.blinkingCarret::after {
    content: "";
    width: 2px;
    height: var(--main-fontSize-default);
    background: var(--tertiary-light-color);
    display: inline-block;
    animation: blinkingCarretAnimation 1s steps(2) infinite;
}

@keyframes blinkingCarretAnimation {
    50% {
        opacity: 0;
    }
}