.list {
    list-style-type: none;
    padding-inline-start: 2ch;
    font-size: var(--main-fontSize-smaller);
    line-height: 1.5;
}

.list li a {
    margin-bottom: 0.5rem;
}

.active>a {
    color: var(--tertiary-light-color);
    font-weight: var(--main-fontWeight-activeLinks);
}

.notActive>a {
    color: var(--primary-light-color);
    font-weight: var(--main-fontWeight-links);
}

@supports (color: color-mix(in srgb, var(--primary-light-color), black 10%)) {

    .notActive>a {
        /* make the text color a bit darker */
        color: color-mix(in srgb, var(--primary-light-color), black 10%);
    }

}

/* not on mobile */
@media (hover: hover) {

    .active>a:hover {
        background-image: linear-gradient(var(--tertiary-light-color) 0%, var(--tertiary-light-color) 100%);
    }

    .notActive>a:hover {
        color: var(--tertiary-light-color);
        background-image: linear-gradient(var(--tertiary-light-color) 0%, var(--tertiary-light-color) 100%);
    }

}