#articleToc {
    width: var(--main-aside-maxWidth);
    order: 9999;
    display: block;
}

/* max-width: --main-article-maxWidth */
@media all and (max-width: 50rem) {
    #articleToc {
        display: none;
    }
}

#articleToc>nav {
    position: sticky;
    top: calc(var(--header-navbar-height) + var(--main-spacing));
}

.list {
    list-style-type: none;
    padding-inline-start: 2ch;
}

.active>a {
    color: var(--tertiary-light-color);
}

.notActive>a {
    color: var(--primary-light-color);
}

/* not on mobile */
@media (hover: hover) {
    .active>a {
        background-image: linear-gradient(var(--tertiary-light-color) 0%, var(--tertiary-light-color) 100%);
    }
    
    .notActive>a {
        background-image: linear-gradient(var(--primary-light-color) 0%, var(--primary-light-color) 100%);
    }
}