#articleToc {
    width: var(--main-aside-maxWidth);
    order: 9999;
    display: block;
}

/* max-width: 70rem / 1120px (mobile breakpoint) */
@media all and (max-width: 70rem) {
    #articleToc {
        display: none;
    }
}

#articleToc>nav {
    position: sticky;
    top: calc(var(--header-navbar-height) + var(--main-spacing));
}

.list {
    list-style-type: none;
    padding-inline-start: 2ch;
}

.list li a {
    font-size: var(--main-fontSize-smaller);
    margin-bottom: 0.5rem;
}

.active>a {
    color: var(--tertiary-light-color);
    font-weight: var(--main-fontWeight-activeLinks);
}

.notActive>a {
    /* 5% darker than --primary-light-color */
    color: rgb(230 0 155);
    font-weight: var(--main-fontWeight-activeLinks);
}

/* not on mobile */
@media (hover: hover) {

    .active>a {
        background-image: linear-gradient(var(--tertiary-light-color) 0%, var(--tertiary-light-color) 100%);
    }

    .notActive>a {
        background-image: linear-gradient(var(--primary-light-color) 0%, var(--primary-light-color) 100%);
    }

}