.playerUI {
    z-index: 9999;
    position: fixed;
    top: 0;
    bottom: auto;
    right: var(--main-spacing);
    display: flex;
    height: var(--header-navbar-height);
    align-items: center;
    flex-direction: row;
}

/* max-width: 70rem / 1120px (mobile breakpoint) */
@media all and (max-width: 70rem) {

    .playerUI {
        right: 5px;
    }

}

.playerButtons {
    display: flex;
    flex-direction: row;
}

.audioWaveForm {
    display: flex;
    align-items: center;
    margin-right: var(--main-spacing);
}

.audioWaveForm:hover {
    cursor: var(--cursor-pointer);
}

/* max-width: 70rem / 1120px (mobile breakpoint) */
@media all and (max-width: 70rem) {
    .audioWaveForm {
        display: none;
    }
}
