.reset {
    border: 0px;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
}

.dialog {
    width: 400px;
    height: 244px;
    right: var(--main-spacing);
    position: fixed;
    left: auto;
    top: -238px;
    perspective: 600px;
    z-index: 40;
}

@media all and (max-width: 1120px) {
    .dialog {
        background-color: rgba(0 0 0 / 0.7);
        width: 322px;
        height: 197px;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
}

.dialog[open] {
    animation: openAnimation 1s ease-out forwards;
}

.dialog.close {
    animation: closeAnimation 1s ease-in forwards;
}

@keyframes openAnimation {
    from {
        top: -238px;
        transform: perspective(400px) rotateX(20deg);
        -webkit-transform: perspective(400px) rotateX(20deg);
    }

    to {
        top: calc(var(--main-spacing) + var(--header-navbar-height));
        transform: perspective(400px) rotateX(0deg);
        -webkit-transform: perspective(400px) rotateX(0deg);
    }
}

@keyframes closeAnimation {
    from {
        top: calc(var(--main-spacing) + var(--header-navbar-height));
        transform: perspective(400px) rotateX(0deg);
        -webkit-transform: perspective(400px) rotateX(0deg);
    }

    to {
        top: -238px;
        transform: perspective(400px) rotateX(20deg);
        -webkit-transform: perspective(400px) rotateX(20deg);
    }
}
