.layoutHeader {
    width: 100vw;
    height: calc(100vh/2.5);
    max-width: 100%;
    position: relative;
    text-align: center;
    background-color: #2f0f30;
    overflow: hidden;
}

@media all and (max-width: 1120px) {

    .layoutHeader {
        padding-top: var(--header-navbar-height);
    }

}

.layoutFooter {
    color: rgba(var(--main-text-value) / 0.9);
    max-width: var(--main-maxWidth);
    margin-left: auto;
    margin-right: auto;
    font-size: var(--main-fontSize-small);
    padding-right: var(--main-spacing);
    padding-left: var(--main-spacing);
}

/* experimental: p3 colors */
@media (color-gamut: p3) {
    .layoutFooter {
        color: color(display-p3 var(--main-text-value) / 0.9);
    }
}

.layoutFooterSeperator {
    width: 100%;
    border-color: var(--primary-light-color)
}