.layoutHeader {
    width: 100vw;
    height: calc(100vh/2.5);
    max-width: 100%;
    position: relative;
    text-align: center;
    background-color: #2f0f30;
    overflow: hidden;
}

/* max-width: 70rem / 1120px (mobile breakpoint) */
@media all and (max-width: 70rem) {

    .layoutHeader {
        padding-top: var(--header-navbar-height);
    }

}

.layoutFooter {
    max-width: var(--main-maxWidth);
    margin-left: auto;
    margin-right: auto;
    font-size: var(--main-fontSize-smaller);
    padding-right: var(--main-spacing);
    padding-left: var(--main-spacing);
}

.layoutFooterSeperator {
    width: 100%;
    border-color: var(--primary-light-color)
}