.layoutHeader {
    width: 100vw;
    height: calc(100vh/2);
    max-width: 100%;
    position: relative;
    /* to compensate for the fixed navbar */
    margin-top: 50px;
}

.layoutNavbarContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background-color: rgba(255, 0, 170, 0.9);
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/backdrop-filter */
    backdrop-filter: saturate(200%) blur(5px);
    -webkit-backdrop-filter: saturate(200%) blur(5px);
}

.layoutNavbar {
    font-size: var(--main-fontSize-big5);
    font-weight: 400;
    display: flex;
    align-items: center;
    grid-gap: 26px;
    gap: 26px;
    padding-left: 26px;
    height: var(--header-navbar-height);
    margin: 0 auto;
    max-width: 1440px;
}

.layoutNavbar a {
    outline: none;
    text-decoration: none;
    color: #fff;
    font-weight: var(--main-fontWeight-big);
    background-image: linear-gradient(#ffffff 0%, #ffffff 100%);
    background-size: 0% 2px;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
    cursor: url(/assets/cursors/secondary_mouse_pointer.cur), pointer;
    padding-bottom: 3px;
}

.layoutNavbar a:hover {
    background-size: 100% 2px;
}