/*@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

.eighties {
    position: absolute;
    text-align: center;
    width:100vw;
    max-width: 97%;
    z-index: 1;
    -webkit-transform: skew(335deg, 350deg);
    transform: skew(345deg, 345deg);
    font-family: 'Permanent Marker', cursive;
    background-image: -webkit-linear-gradient(0.25turn, #00feff 0%, #ff00aa 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-filter: drop-shadow(2px 2px 20px #1b0008);
    filter: drop-shadow(4px 4px 10px #1b0008);
}

@media screen and (orientation:landscape) {
    .eighties {
        bottom: -5vh;
        font-size: 6vw;
    }
}

@media screen and (orientation:portrait) {
    .eighties {
        bottom: 0vh;
        font-size: 20vw;
    }
}*/
.layoutHeader {
    width: 100vw;
    height: calc(100vh/2);
    max-width: 100%;
    position: relative;
    /* to compensate for the fixed navbar */
    margin-top: 50px;
}

.layoutNavbarContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background-color: rgba(255, 0, 170, 0.9);
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/backdrop-filter */
    backdrop-filter: saturate(200%) blur(5px);
    -webkit-backdrop-filter: saturate(200%) blur(5px);
}

.layoutNavbar {
    font-size: var(--main-fontSize-big1);
    font-weight: 400;
    display: flex;
    align-items: center;
    grid-gap: 26px;
    gap: 26px;
    padding-left: 26px;
    height: 50px;
    margin: 0 auto;
    max-width: 1440px;
}

.layoutNavbar a {
    background-image: linear-gradient(#ffffff 0%, #ffffff 100%);
    background-size: 0% 2px;
    color: #ffffff;
    padding-bottom: 3px;
}

.layoutNavbar a:hover {
    background-size: 100% 2px;
}

