.layoutHeader {
    width: 100vw;
    height: calc(100vh/2);
    max-width: 100%;
    position: relative;
    /* to compensate for the fixed navbar */
    margin-top: 50px;
}

.layoutNavbarContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background-color: rgba(255, 0, 170, 0.9);
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/backdrop-filter */
    backdrop-filter: saturate(200%) blur(5px);
    -webkit-backdrop-filter: saturate(200%) blur(5px);
}

.layoutNavbar {
    font-size: var(--main-fontSize-big5);
    font-weight: 400;
    display: flex;
    align-items: center;
    grid-gap: 26px;
    gap: 26px;
    padding-left: 26px;
    height: 50px;
    margin: 0 auto;
    max-width: 1440px;
}

.layoutNavbar a {
    background-image: linear-gradient(#ffffff 0%, #ffffff 100%);
    background-size: 0% 2px;
    color: #ffffff;
    padding-bottom: 3px;
}

.layoutNavbar a:hover {
    background-size: 100% 2px;
}

.eighties {
    position: absolute;
    text-align: center;
    width:100vw;
    max-width: 97%;
    z-index: -20;
    margin: 0;
    -webkit-transform: skew(335deg, 350deg);
    transform: skew(345deg, 345deg);
    font-family: 'Permanent Marker';
    font-weight: 400; 
    font-style: normal;
    font-display: swap;
    background-image: -webkit-linear-gradient(0.25turn, #00feff 0%, #ff00aa 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-filter: drop-shadow(2px 2px 20px #1b0008);
    filter: drop-shadow(4px 4px 10px #1b0008);
}

@media screen and (orientation:landscape) {
    .eighties {
        bottom: 10%;
        font-size: 8vw;
    }
}

@media screen and (orientation:portrait) {
    .eighties {
        bottom: 10%;
        font-size: 20vw;
    }
}

.cyberButton {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 339 85'%3E%3Cpath d='M315 85v-8h-27v8H21.77L2 65.23V0h337v85z' fill-rule='evenodd' fill='%2302d8f3' opacity='.45'/%3E%3Cpath d='M313 85v-8h-27v8H19.77L0 65.23V0h337v85z' fill='%23ff003c' fill-rule='evenodd'/%3E%3C/svg%3E");
    height: 85px;
    width: 337px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    justify-content: center;
    letter-spacing: 2px;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
}