.modal {
    border: 0px;
    padding: 0px;

}

.modal::backdrop {
    backdrop-filter: saturate(200%) blur(40px);
    -webkit-backdrop-filter: saturate(200%) blur(40px);
    background-color: rgba(var(--primary-light-value), 0.01);
}

.modalCore {
    position: relative;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    cursor: var(--cursor-pointer);
}