.powerOffButton {
    position: absolute;
    bottom: var(--main-spacing);
    right: var(--main-spacing);
    z-index: 20;
}

.buttonReset {
    background: none;
    border: none;
    padding: 0;
}

/* max-width: 70rem / 1120px (mobile breakpoint) */
@media all and (max-width: 70rem) {

    .powerOffButton {
        bottom: calc(var(--main-spacing) / 2);
        right: calc(var(--main-spacing) / 2);
    }

}

.powerOffButtonBorder {
    width: 48px;
    height: 48px;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    --cornerSideLength: 12px;
    /* next line is a hack: in chrome a small line sometimes appears */
    will-change: transform;
    clip-path:
        polygon(0 0,
            100% 0,
            100% calc(100% - var(--cornerSideLength)),
            calc(100% - var(--cornerSideLength)) 100%,
            0 100%);
    background-color: var(--tertiary-light-color);
    border: 0;
    cursor: var(--cursor-pointer);
}

/* max-width: 70rem / 1120px (mobile breakpoint) */
@media all and (max-width: 70rem) {

    .powerOffButtonBorder {
        width: 44px;
        height: 44px;
    }

}

.powerOffButtonCore {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: var(--main-background-color);
    --cornerSideLength: 12px;
    /* next line is a hack: in chrome a small line sometimes appears */
    will-change: transform;
    clip-path:
        polygon(0 0,
            100% 0,
            100% calc(100% - var(--cornerSideLength)),
            calc(100% - var(--cornerSideLength)) 100%,
            0 100%);
}

.powerOffButtonCore>svg {
    color: var(--tertiary-light-color);
}