.playContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 5%;
    z-index: 1;
}

.playBox {
    display: flex;
    flex-direction: column;
    padding: var(--main-spacing);
    width: 380px;
}

.playBox button span {
    /* https://fonts.google.com/specimen/VT323 */
    font-family: var(--font-vt323);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-optical-sizing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
    cursor: var(--cursor-pointer);
}

.withMusicButton,
.withoutMusicButton,
.playButton {
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    border: none;
}

/* only on higher contrast mode */
@media (prefers-contrast: more) {

    .withMusicButton:focus,
    .withoutMusicButton:focus,
    .playButton:focus {
        outline-style: dashed;
        outline-color: white;
        outline-width: 1px;
    }
}

.withMusic,
.withoutMusic {
    font-size: 2rem;
    color: var(--tertiary-light-color);
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0px 0px 2px var(--primary-light-color), 0px 0px 4px var(--primary-light-color);
}

.withMusic:before,
.withoutMusic:before {
    content: "";
    width: 20px;
    display: inline-block;
}

.selected:before {
    content: ">";
    font-size: 2rem;
    color: #fcff00;
    width: 20px;
    display: inline-block;
}

.pressStart {
    text-transform: capitalize;
    font-size: 4.5rem;
    color: var(--tertiary-light-color);
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0px 0px 2px var(--primary-light-color), 0px 0px 8px var(--primary-light-color);
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}