.playContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 5%;
    z-index: 1;
}

.playBox {
    display: flex;
    flex-direction: column;
    padding: var(--main-spacing);
    width: 360px;
}

.withMusicButton,
.withoutMusicButton,
.playButton {
    width: 100%;
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    border: none;
}

.withMusicButton:focus,
.withoutMusicButton:focus,
.playButton:focus {
    outline-style: dashed;
    outline-offset: 5px;
    outline-color: white;
    outline-width: 1px;
}

.withMusic, .withoutMusic {
    font-family: var(--font-vt323);
    font-size: 2rem;
    color: var(--tertiary-light-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: var(--cursor-pointer);
    text-shadow: var(--primary-light-color) 1px 0 10px;
}

.pressStart {
    /* https://fonts.google.com/specimen/VT323 */
    font-family: var(--font-vt323);
    text-transform: capitalize;
    font-size: 4.2rem;
    color: var(--tertiary-light-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: var(--cursor-pointer);
    text-shadow: var(--primary-light-color) 1px 0 10px;
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}