.playContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 5%;
    z-index: 1;
}

.playBox {
    display: flex;
    flex-direction: column;
    padding: var(--main-spacing);
    width: 380px;
}

.playBox button span {
    /* https://fonts.google.com/specimen/VT323 */
    font-family: var(--font-vt323);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-optical-sizing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
    cursor: var(--cursor-pointer);
}

.withMusicButton,
.withoutMusicButton,
.playButton {
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    border: none;
}

.withMusic,
.withoutMusic {
    font-size: 2rem;
    color: var(--tertiary-light-color);
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0 0 2px var(--primary-light-color), 0 0 4px var(--secondary-light-color);
}

.withMusic:before,
.withoutMusic:before {
    content: "";
    width: 20px;
    display: inline-block;
}

.selected:before {
    content: ">";
    font-size: 2rem;
    color: #fcff00;
    width: 20px;
    display: inline-block;
}

.pressStart {
    text-transform: capitalize;
    font-size: 4.5rem;
    color: var(--tertiary-light-color);
    text-transform: uppercase;
}

.press {
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 1px 1px 0 rgb(0, 145, 255), 2px 2px 0 rgb(0, 170, 255), 3px 3px 0 rgb(0, 195, 255);
}

.start {
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: -1px 1px 0 rgb(0, 145, 255), -2px 2px 0 rgb(0, 170, 255), -3px 3px 0 rgb(0, 195, 255);
}

.blink {
    animation: blink-animation 2s steps(5, start) infinite;
    -webkit-animation: blink-animation 2s steps(5, start) infinite;
}

/* max-width: 70rem / 1120px (mobile breakpoint) */
@media all and (max-width: 70rem) {

    .playContainer {
        top: 3%;
    }

    .withMusic,
    .withoutMusic {
        font-size: 1.8rem;
    }

    .pressStart {
        font-size: 3rem;
    }

}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}